
.main {
    background-image: url("./img/bgFinalWhite.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #EEEEEE;
}

.mainBg{
    background-color: #5E5E5E;
}

.games {
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // gap: 36px;
    align-items: center;
    padding: 36px 0;
    background-color: var(--color--white);

    &--title {
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: var(--color--black);
    }

    &--line {
        width: 536px;
        height: 0;
        border: 1px solid black;
        margin: 36px 0;
    }

    &--birth {
        width: 100%;
        max-width: 576px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color--black);
            padding-bottom: 36px;
        }

        &--bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--left {
                width: 215px;
                height: 35px;
                box-shadow: 3px 3px 0px 0px #00000040;
                background-color: #D7D7D7;
                padding: 10px 0 10px 10px;
                border-radius: 20px;
                border: none;
                z-index: 1;
                position: relative;
                text-align: left;

                &--input {
                    background-color: transparent;
                    border: none;
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #000000;

                    &::placeholder {
                        font-family: Montserrat Alternates;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 11.5px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #7E7E7E;
                    }

                    &:focus {
                        outline: none;
                    }


                }

                &--btn {
                    width: 35px;
                    height: 35px;
                    background-color: #000000;
                    z-index: 2;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0 20px 20px 0;
                    cursor: pointer;
                }
            }

            &--text {
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
                color: var(--color--black);
                width: 100%;
                max-width: 230px;
            }
        }
    }

    &--number {
        width: 100%;
        max-width: 576px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color--black);
            padding-bottom: 36px;
        }

        &--bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--left {
                width: 150px;
                height: 35px;
                box-shadow: 3px 3px 0px 0px #00000040;
                background-color: #D7D7D7;
                padding: 10px 0 10px 10px;
                border-radius: 20px;
                border: none;
                z-index: 1;
                position: relative;
                display: flex;
                align-items: left;

                &--input {
                    background-color: transparent;
                    border: none;
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #000000;

                    &::placeholder {
                        font-family: Montserrat Alternates;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 11.5px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #7E7E7E;
                    }

                    &:focus {
                        outline: none;
                    }


                }

                &--btn {
                    width: 35px;
                    height: 35px;
                    background-color: #000000;
                    z-index: 2;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0 20px 20px 0;
                    cursor: pointer;
                }
            }

            &--text {
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
                color: var(--color--black);
                width: 100%;
                max-width: 230px;
            }
        }
    }

    &--ssc {
        width: 100%;
        max-width: 256px;
        display: flex;
        flex-direction: column;
        gap: 36px;
        align-items: center;

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color--black);
        }

        &_container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            &--count {
                position: absolute;
                top: 0;
                left: 360px;
                width: 93px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                &--text {
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: var(--color--black);
                }
            }

            &--box {
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000000;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    width: 65px;
                    height: 65px;
                }
            }
        }

        &--text {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #039900;
        }

        &--comp {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color--white);
            background-color: var(--color--black);
            ;
            width: 182px;
            height: 35px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
        }
    }

    &--calc {
        width: 100%;
        max-width: 629px;
        display: flex;
        flex-direction: column;
        gap: 36px;
        align-items: center;

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color--black);
        }

        &_container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--input {
                background-color: #D7D7D7;
                border: none;
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #000000;
                width: 135px;
                height: 35px;
                box-shadow: 3px 3px 0px 0px #00000040;
                border-radius: 20px;
                padding: 10px 20px;

                &::placeholder {
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #7E7E7E;
                }

                &:focus {
                    outline: none;
                }
            }

            &--box {
                width: 100%;
                max-width: 60px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                &--btn {
                    width: 25px;
                    height: 25px;
                    background-color: var(--color--black);
                    box-shadow: 3px 3px 0px 0px #00000040;
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: var(--color--white);
                    padding: 4px 8px;
                    border: none;
                    border-radius: 20px;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        background-color: #7E7E7E;
                    }

                    .click {
                        background-color: #1F8081;
                    }
                }
            }

            &--result {
                background-color: #D7D7D7;
                border: none;
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #7E7E7E;
                width: 118px;
                // height: 35px;
                box-shadow: 3px 3px 0px 0px #00000040;
                border-radius: 20px;
                padding: 10px 20px;
            }
        }
    }

    &--time {
        width: 100%;
        max-width: 576px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color--black);
            padding-bottom: 36px;
        }

        &_container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--left {
                width: 215px;
                height: 35px;
                box-shadow: 3px 3px 0px 0px #00000040;
                background-color: #D7D7D7;
                padding: 10px 0 10px 10px;
                border-radius: 20px;
                border: none;
                z-index: 1;
                position: relative;
                display: flex;
                align-items: left;

                &--input {
                    background-color: transparent;
                    border: none;
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #000000;

                    &::placeholder {
                        font-family: Montserrat Alternates;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 11.5px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #7E7E7E;
                    }

                    &:focus {
                        outline: none;
                    }


                }

                &--btn {
                    width: 35px;
                    height: 35px;
                    background-color: #000000;
                    z-index: 2;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0 20px 20px 0;
                    cursor: pointer;
                }
            }

            &--text {
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
                color: var(--color--black);
            }
        }
    }

    &--dino {
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color--black);
            padding-bottom: 36px;
        }
    }

    &--football {
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color--black);
            padding-bottom: 36px;
        }

        &--box {
            width: 700px;
            height: 220px;
            background-color: #5ABB58;
            border: 2px solid var(--color--black);
            ;
            border-radius: 25px;
            position: relative;
            cursor: pointer;

            &--ball {
                position: absolute;
                top: 85px;
                left: 92px;
                transition: 0.5s;
            }

            .rotateR {
                transform: rotate(360deg);
            }

            .rotateL {
                transform: rotate(-360deg);
            }
        }
    }

    &--maxnum {
        width: 100%;
        max-width: 483px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--color--black);
        }

        &--box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--input {
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #000000;
                width: 135px;
                box-shadow: 3px 3px 0px 0px #00000040;
                background-color: #D7D7D7;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;

                &::placeholder {
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #7E7E7E;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        &--text {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
        color: var(--color--black);
        }
    }

    &--slider {
        width: 100%;
        max-width: 904px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
        color: var(--color--black);
            padding-bottom: 36px;
        }

        &--container {
            width: 100%;
            max-width: 904px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &--l {
                margin-top: 25px;
                cursor: pointer;
            }

            &--r {
                margin-top: 25px;
                cursor: pointer;
            }

            &--box {
                width: 100%;
                max-width: 600px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &--card {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    &--img1 {
                        width: 150px;
                        height: 150px;
                        background-image: url("./img/Albert_Einstein_Head.jpg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 3px solid var(--color--secondary);
                        border-radius: 20px;
                    }

                    &--img2 {
                        width: 150px;
                        height: 150px;
                        background-image: url("./img/Portrait_of_Sir_Isaac_Newton,_1689_(brightened).jpg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 3px solid var(--color--secondary);
                        border-radius: 20px;
                    }

                    &--img3 {
                        width: 150px;
                        height: 150px;
                        background-image: url("./img/Justus_Sustermans_-_Portrait_of_Galileo_Galilei,_1636.jpg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 3px solid var(--color--secondary);
                        border-radius: 20px;
                    }

                    &--img4 {
                        width: 150px;
                        height: 150px;
                        background-image: url("./img/Portrait_of_Marie_Curie.jpg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 3px solid var(--color--secondary);
                        border-radius: 20px;
                    }

                    &--img5 {
                        width: 150px;
                        height: 150px;
                        background-image: url("./img/Portrait_Confused_With_Johannes_Kepler_1610.jpg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 3px solid var(--color--secondary);
                        border-radius: 20px;
                    }

                    &--img6 {
                        width: 150px;
                        height: 150px;
                        background-image: url("./img/Nikolaus_Kopernikus.jpg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 3px solid var(--color--secondary);
                        border-radius: 20px;
                    }

                    &--img7 {
                        width: 150px;
                        height: 150px;
                        background-image: url("./img/Max_Planck_(1858-1947).jpg");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 3px solid var(--color--secondary);
                        border-radius: 20px;
                    }

                    &--title {
                        font-family: 'Montserrat Alternates';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: var(--color--black);
                    }

                    &--text {
                        font-family: 'Montserrat Alternates';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        color: var(--color--black);
                    }
                }

                &--dots {
                    width: 100%;
                    max-width: 174px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 24px;

                    &--dot {
                        width: 18px;
                        height: 3px;
                        background-color: #D9D9D9;
                        transition: 0.3s;
                        border-radius: 3px;
                        cursor: pointer;

                        &.active {
                            height: 3px;
                            transition: 0.3s;
                            border-radius: 3px;
                            width: 30px;
                            background-color: #797979;
                        }

                        &:hover {
                            transition: 0.3s;
                            background-color: #8ACECF;
                        }
                    }
                }
            }
        }
    }

    &--science {
        width: 100%;
        max-width: 857px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            font-family: 'Montserrat Alternates';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
                        color: var(--color--black);
            padding-bottom: 36px;
        }

        &--container {
            width: 100%;
            max-width: 575px;
            height: 370px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 59px;
            row-gap: 36px;
            margin-bottom: 36px;

            &--box {
                width: 100px;
                height: 100px;
                border-radius: 20px;
                border: 2px solid var(--color--secondary);;
                border-radius: 20px;
                background: rgba(0, 0, 0, 0.4);
            }
        }

        &--tasks {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 36px;
            row-gap: 20px;
            align-items: center;

            &--btn {
                padding: 10px 19px;
                background: var(--color--black);;
                box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
                color: var(--color--white);
                border: none;
                text-align: left;
                cursor: pointer;

                &:nth-child(odd) {
                    justify-self: end;
                }

                &:nth-child(even) {
                    justify-self: start;
                }

                &:nth-child(1) {
                    width: 227px;
                }

                &:nth-child(2) {
                    width: 298px;
                }

                &:nth-child(3) {
                    width: 282px;
                }

                &:nth-child(4) {
                    width: 441px;
                }

                &:nth-child(5) {
                    width: 380px;
                }

                &:nth-child(6) {
                    width: 375px;
                }

                &:nth-child(7) {
                    width: 329px;
                    height: 32px;
                }

                &:nth-child(8) {
                    width: 368px;
                    height: 50px;
                    line-height: 15px;
                }

                &:last-child {
                    width: 489px;
                    grid-column: 1/-1;
                    justify-self: center;
                }
            }
        }
    }
}